@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply subpixel-antialiased font-Inter bg-slate-800;
  }
}

@layer components {
  .navbar {
    @apply absolute z-40 min-w-52 md:min-w-40 py-10 md:py-0 scale-90 md:scale-100 isolate 
    opacity-0 invisible md:visible 
    backdrop-blur-2xl md:backdrop-blur-0
    md:static md:flex md:items-center md:mt-0 
    md:bg-transparent md:opacity-100 md:ring-0;
  }

  .navbar.active {
    @apply top-[-15px] right-[-15px] min-w-52 h-auto 
    ring-inset ring-1 ring-zinc-50/5 bg-zinc-950/70 rounded-xl 
    opacity-100 scale-100 visible transition-transform duration-300;
  }

  .nav-link {
    @apply grid items-center h-12 py-2 px-4 
    text-lg md:text-sm font-normal tracking-wide 
    text-gray-300 hover:text-white transition-colors;
  }

  .nav-link.active {
    @apply text-orange-400 font-medium duration-500;
  }

  .menu-btn {
    @apply relative w-10 h-10 grid place-items-center rounded-full text-gray-100 ring-inset ring-1 ring-zinc-50/[0.02] 
     transition-[transform,background-color] hover:bg-zinc-50/15 z-50;
  }

  .btn {
    @apply max-w-max h-8 flex items-center gap-2 px-4 rounded-2xl font-semibold text-xs 
      ring-1 ring-zinc-50/5 ring-inset transition-[background-color];
  }

  .primary-btn {
    @apply text-zinc-800 bg-orange-500 hover:scale-105;
  }

  .socials {
    @apply text-zinc-400 hover:text-zinc-200;
  }
}

@layer utilities {
  .container {
    @apply px-4 py-2 mx-auto lg:px-6 xl:max-w-4xl rounded-lg;
  }

  .header {
    @apply fixed top-0 left-0 w-full h-20 flex 
    items-center z-50 bg-gradient-to-b from-zinc-950 
    to-zinc-950/70;
  }

  .section {
    @apply relative mb-10 min-h-[540px];
  }

  .img-box {
    @apply bg-zinc-700 overflow-hidden;
  }

  .img-cover {
    @apply w-full h-full object-cover;
  }
}
